body{
	background-image: url("/images/background.jpg");

	nav{
		background-color: #46AA6A;
	}

	.user-view{
		background-color: #fdfdfd;
	}

	#modal_chat{
		background-image: url("/images/background-chat.png");
		padding: 0 !important;
		margin: 0 !important;
		input{
			border-radius: 20px;
			border: 1px solid #2196f3;
			background-color: white;
		}
		.dropzone{
			border: none;
		}
		.dropzone .dz-message{
			margin: 0;
		}

		#form_message{
			background-color: white;
		}
	}

	.card-active .card{
		background-color: #e8f5e9;
	}
	

}



#slide-out{
	width: 90px;
}


header, main, footer {
  padding-left: 90px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }


	#slide-out{
		width: 250px;
		#ajax_logo{
			max-width: 100px;
		}
	}

}