
@media print {

header, main, footer {
  padding-left: 0px !important;
}


	header{
		display: none !important;
	}
	footer{
		display: none;
	}
	.sidenav{
		display: none;
	}
	img{
		display: none;
	}
	.btn{
		display: none;
	}
	.tab{
		display: none;
	}
	a{
		display: none;
	}
	.collapsible{
		display: none;
	}
	#pesquisa{
		display: none;
	}
	header{
		display: none;
	}

	button{
		display: none;
	}
	.saldos_despesas_receitas{
		display: none;
	}
	#ninja_ocultar_print{
		display: none;
	}
	#tab_estatisticas{
		display: none;
	}
}
