<div class="container">
  <div class="row">
    <div class="col s12 m12 l6 offset-l3">
    <br>
    <h5>
          <a class="brand-logo logo white-text text-shadow-white center f35">
            <center>
              <img src="/images/logo.png" class="img-fluid width-100px"> <br>
            Cadastre-se <br>
            </center>
          </a>
    </h5>
      <div class="card transparent-black-08 animated flipInX radius">
        <div class="card-image center waves-effect waves-block waves-light ">
          <span class="span white-text f18">
          <br>
            Digite seu melhor e-mail e uma senha forte.
          </span>
        </div>
        <div class="card-content">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, class: "email", autofocus: true, autocomplete: "email" %>
              </div>
              <div class="field">
                <%= f.label :password, "Senha" %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation, "Confirme sua senha" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>
              <br>
              <a href="/login" class="btn shadow grafit radius left">Já tenho conta</a>
              <div class="actions">
                <%= f.submit "Enviar", class: "btn shadow green radius right"  %>
              </div>
            <% end %>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
