<nav class="hide-on-large-only fixed">
  <div class="nav-wrapper">
    <a data-target="slide-out" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
    <a href="/atendimento/home" class="animated flip margin-right-15 f12 peso-5 right cursor ajax_logo " data-tooltip="Visualizar atualizações"><i class="material-icons white-text">exit_to_app</i></a>

      <a href="/" class="margin-10 padding-10 f12 peso-5">Home</a>
  </div>
</nav>
<div class="height-64px hide-on-large-only"></div>



<ul id="slide-out" class="sidenav sidenav-fixed ">
  <li class="center">
    <img id="" src="/images/logo.png" class="ajax_logo img-fluid animated flip padding-10">
  </li>
  <li><%= link_to "<i class='material-icons #{'menu-icon' if current_page?home_path}'>home</i> <span class='hide-on-large-only'>Home</span>".html_safe, home_path, class: "tooltipped", 'data-tooltip' => "Home", "data-position" =>"right" %></li>

  <hr>
	<li><%= link_to "<i class='material-icons #{'menu-icon' if current_page?profile_path}'>person</i> <span class='hide-on-large-only'>Perfil</span>".html_safe, profile_path, class: "tooltipped", 'data-tooltip' => "Perfil", "data-position" =>"right" %></li>
	<li><%= link_to "<i class='material-icons #{'menu-icon' if current_page?destroy_user_session_path}'>exit_to_app</i> <span class='hide-on-large-only'>Sair</span>".html_safe, destroy_user_session_path, class: "tooltipped", 'data-tooltip' => "Sair", :method => :delete, "data-position" =>"right" %></li>
</ul>


<div class="height-64px hide-on-small-only"></div>
<nav id="shortcut" class="grey hide-on-small-only fixed top-0">
  <div class="nav-wrapper">
    <div class="row">
      <div class="col s12 m12 l11">
          <a href="/" class="margin-10 padding-10 f12 peso-5">Home</a>
          <a href="/atendimento/home" class=" animated flip delay-300 margin-right-15 f12 peso-5 right hide-on-small-only tooltipped" data-tooltip="Área de Atendimento"><i class="material-icons white-text">exit_to_app</i></a>
          <a href="<%= request.env['PATH_INFO'] %>" class=" animated rotateIn margin-right-15 f12 peso-5 right hide-on-small-only cursor tooltipped" data-tooltip="Atualizar"><i class="material-icons white-text">refresh</i></a>
      </div>
    </div>
  </div>
</nav>