<div class="container">
  <div class="row">
    <div class="col s12 m12 l6 offset-l3">
    <br>
    <h5>
          <a class="brand-logo logo white-text text-shadow-white center">
            <center>
              <img src="/images/logo.png" class="img-fluid width-100px"> <br>
            Seja bem vindo ao Mundo de Komodo! <br>
            </center>
          </a>
    </h5>
      <div class="card transparent-black-08 animated flipInX radius">
        <div class="card-image center waves-effect waves-block waves-light ">
          <span class="span white-text">
          <br>
            Digite seu e-mail e senha para iniciar.
          </span>
        </div>
        <div class="card-content">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, class: "email" %>
              </div>
              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, class: "password"  %>
              </div>
              <br>
              <a href="/register" class="btn shadow blue radius left">Registre-se</a>
              <div class="actions">
                <%= f.submit "Entrar", class: "btn shadow green radius right"  %>
              </div>
            <% end %>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
