@font-face {
    font-family: 'prime-regular';
    src: font-url('prime-regular/Prime-Regular.eot');
    src: font-url('prime-regular/Prime-Regular.eot?#iefix') format('embedded-opentype'),
        font-url('prime-regular/Prime-Regular.woff2') ,
        font-url('prime-regular/Prime-Regular.woff') ,
        font-url('prime-regular/Prime-Regular.ttf') ,
        font-url('prime-regular/Prime-Regular.svg#Prime-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'arkhip-regular';
    src: font-url('arkhip-regular/Arkhip-Regular.eot');
    src: font-url('arkhip-regular/Arkhip-Regular.eot?#iefix') format('embedded-opentype'),
        font-url('arkhip-regular/Arkhip-Regular.woff2') ,
        font-url('arkhip-regular/Arkhip-Regular.woff') ,
        font-url('arkhip-regular/Arkhip-Regular.ttf') ,
        font-url('arkhip-regular/Arkhip-Regular.svg#Arkhip-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
