<!DOCTYPE html>
<html>
  <head>
    <title>Ivo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'komodo', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'komodo', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= favicon_link_tag '/favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes"></head>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

  <div id="current_user" user="<%= current_user.id %>"></div>
  
    <header class="header">
      <%= render "/shared/navbar" %>
    </header>

    <main class="animated <%= params[:page].blank? ? 'fadeIn' : 'fadeIn' %> faster">
      <%= yield %>
    </main>

    <footer>
      <%= render "/shared/footer" %>
    </footer>

    <div id="modal" class="modal">
    </div>
    <div id="dialog">
    </div>

    <% flash.each do |message_type, message| %>
      <% if message_type == 'alert' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'red'})" %>
      <% elsif message_type == 'notice' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'green'})" %>
      <% elsif message_type == 'danger' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'orange'})" %>
      <% elsif message_type == 'info' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'blue'})" %>
      <% end %>
    <% end %>


  </body>
</html>
